.wrapper {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   grid-column-gap: 32px;
   grid-template-rows: 1fr;
   height: 100%;
   width: 100%;
   padding: 36px 100px;
}

.historyWrapper {
   grid-column-start: 1;
   grid-column-end: 10;
   border-radius: 8px;
   color: var(--text-strong);
   padding: 16px 24px;

   transition: all 0.2s ease;

   box-sizing: border-box;

   &:hover {
      box-shadow: hsla(55, 41%, 4%, 0.15) 0px 0px 5px 0px inset, hsla(55, 41%, 4%, 0.3) 0px 0px 1px 0px inset;
   }
}

.participantsWrapper {
   grid-column-start: 10;
   grid-column-end: 13;
   color: var(--fill);
}

.tree {
   --spacing: 1.5rem;
   --radius: 10px;

   li {
      display: block;
      position: relative;
      padding-left: calc(2 * var(--spacing) - var(--radius) + 6px);
      margin-top: 1.1px;
      font-size: 1.6rem;
      cursor: default;

   }

   ul {
      margin-left: calc(var(--radius) - var(--spacing));
      padding-left: 0;
   }

   ul li {
      border-left: 2px solid var(--stroke-light);
   }

   ul li:last-child {
      border-color: transparent;
   }

   ul details li:last-child {
      border-color: var(--stroke-light);
   }

   ul li::before {
      content: '';
      display: block;
      position: absolute;
      top: calc(var(--spacing) / -1.8);
      left: 3px;
      width: calc(var(--spacing) + 2px);
      height: calc(var(--spacing) + 0px);
      border: dashed var(--stroke-light);
      border-width: 0 0 2px 0;
   }

   ul details summary::before {
      content: '';
      display: block;
      position: absolute;
      top: calc(var(--spacing) / -2.6);
      left: -2px;
      width: calc(var(--spacing) + 2px);
      height: calc(var(--spacing) + 0px);
      border: solid var(--stroke-light);
      border-width: 0 0 0 2px;
   }

   summary {
      list-style: none;
      cursor: pointer;
   }

   summary::-webkit-details-marker {
      display: none;
   }
}