.wrapper {
   padding: 0.75rem 1.6rem;
   width: 100%;
   height: 100%;

   display: grid;
   grid-template-columns: repeat(12, 1fr);
   grid-template-rows: repeat(4, 1fr);

   .totalDuration {
      grid-column-start: 1;
      grid-column-end: 4;
      font-family: "Kode Mono", monospace;
      font-size: 1.8rem;
   }
}