.wrapper {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   grid-column-gap: 32px;
   grid-template-rows: 1fr;
   height: 5rem;
   width: 100%;
   padding: 8px 48px;
   background-color: hsla(55, 41%, 4%, 0.9);
   box-shadow: hsla(55, 41%, 4%, 0.15) 0px 5px 10px 0px, hsla(55, 41%, 4%, 0.5) 0px 0px 1px 0px;
}

.icon {
   height: 3rem;
   object-fit: contain;
}