
:root {
  --background: hsla(0, 0%, 100%, 1);
  --fill: hsla(0, 0%, 96%, 1);
  --dark-fill: hsla(55, 41%, 4%, 0.9);
  --dark-fill-600: hsla(55, 41%, 4%, 0.6);
  --dark-fill-300: hsla(55, 41%, 4%, 0.3);
  --stroke-weak: hsla(52, 37%, 80%, 1);
  --stroke-strong: hsla(53, 30%, 52%, 1);
  --stroke-dark-weak: hsla(55, 41%, 4%, 0.15);
  --text-weak: hsla(56, 34%, 32%, 1);
  --text-strong: hsla(55, 41%, 16%, 1);
  --text-strong-800: hsla(55, 41%, 16%, 0.8);
  --brand: hsla(53, 100%, 52%, 1);
  --system-error: hsla(0, 68%, 44%, 1);
  --system-warning: hsla(42, 85%, 48%, 1);
  --system-success: hsla(133, 45%, 28%, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  color: var(--text-strong);
  background-color: var(--fill);
  font-weight: 400;
  line-height: 1.6;
}

input:focus {
  outline: none;
  background-color: #fff;
}